/* DEVELOPER Adofo Kwasi, IS117-001, Spring 2021 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
}
body{
    width:100% ;
    min-height: 100%;
    background-color: whitesmoke;
}

header{
    background: brown;

}
.small img{
    width: 100px;
    height: 75px;
    padding-top: 25px;
    padding-left: 25px;
}

.top-background{
    background-color:white ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.dropbtn {
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    font-weight: bold;
}

.dropdown {
    position: relative;
    display: inline-block;

}
.drop-down{
    float: right;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: white;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: whitesmoke;}

.same{
    text-decoration: none;
    border-style: none;
    color: black;
}


/* contact element*/
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid white;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: red;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: gray;
    padding: 20px;
    display: table;
}
form{
    display: table-cell;
    width: 100%;
    padding-top: 50px;
}



/* footer element*/
.footer{
    background: whitesmoke;
    text-align: center;
    padding:20px;
    margin-top: 40px;

}
.location{
    color: black;
    font-size: 20px;
    display: inline-block;
    min-width: 27%;
    letter-spacing: 5px;
    font-variant: small-caps;
    padding: 20px;
}

.new {
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    font-weight: bold;
}

.dropdown-cont {
    position: relative;
    display: inline-block;

}
.drop-town{
    text-align: center;
    padding: 50px;
    letter-spacing: 50px;
}
.dropdown-cont {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-cont a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-cont a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-cont {display: block;}

.dropdown:hover .new {background-color: whitesmoke;}




